modules = ["python-3.12"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
author = "user"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
